@charset "UTF-8";

.button-script {
	position: absolute;
    top:620px;
    left: 770px;
    background-color:rgb(192, 192, 192);
    color: #fff;
    border:none;
    border-radius:10px;
    padding: 5px;
    min-height: 30px;
    min-width: 70px;
}

.button-temporary {
	position: absolute;
    top:750px;
    left: 900px;
    background-color:rgb(192, 192, 192);
    color: #fff;
    border:none;
    border-radius:10px;
    padding: 5px;
    min-height: 30px;
    min-width: 70px;
}


.button-effect:hover {
      background-color:rgb(109, 109, 109);
      transition: 0.7s;
}
  
.button-effect:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}


