@charset "UTF-8";

.button-temporary {
	position: absolute;
    top:750px;
    left: 900px;
    background-color:rgb(192, 192, 192);
    color: #fff;
    border:none;
    border-radius:10px;
    padding: 5px;
    min-height: 30px;
    min-width: 70px;
}


