@charset "UTF-8";
* {
    box-sizing: border-box;
} 


body {
	margin: 0;
}

.scriptBox {
	position: relative;
	bottom: 0;
	background-color: rgb(231, 231, 231);
	width: 700px;
	height: 200px;
	border-radius:5px;
	border: 8px solid rgb(109, 109, 109);
	padding: 20px;
}

.scriptBox h3{
	margin: 0;
}

.butten-hover{
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.butten-hover:hover{
	cursor: pointer;
}
	
.butten-hover img {
	width: 100%;
	filter: brightness(1);
	transition: 0.3s;
   
}
.butten-hover:hover img {
    filter: brightness(0.5);
   
}


