@charset "UTF-8";
* {
    box-sizing: border-box;
} 

.titleImage {
	position: absolute;
	left: 12.5%;
}

.display-title{
	position: relative;
	background-color: rgb(255, 255, 255);
	width: 1000px;
	height: 700px;
	margin: 0 auto;
	border: 1px solid rgb(0, 0, 0);
}

.butten-hover{
	display: block;
	position: absolute;
	bottom: 0px;
	left: 450px;
	/*
    border: 1px solid black;
    border-radius: 100%;
    */
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.butten-hover:hover{
	cursor: pointer;
	}
.butten-hover img {
	width: 100%;
	filter: brightness(1);
	transition: 0.3s;
   
}
.butten-hover:hover img {
    filter: brightness(0.5);
   
}