@charset "UTF-8";
* {
    box-sizing: border-box;
} 

#root {
	position: relative;
	max-width: 50%;
	margin: 0 auto;
	
}

.title-image {
	width: 100%;
	max-height: 700px;
	object-fit: contain;
}

.display-title{
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.butten-hover{
	position: absolute;
	left: 45%;
	bottom: 0;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.butten-hover img {
	width: 100%;
	filter: brightness(1);
	transition: filter 0.3s ease-in-out;
		cursor: pointer;
   
}
.butten-hover:hover img {
    filter: brightness(0.5);
   
}