@charset "UTF-8";

.display{
	/*이미지 재작업*/
	
	background-image: url(../../image/battle/jewelcave/Standing-jc-attack.png);
	width: 1000px;
	height: 700px;
	margin: 0 auto;
	padding: 50px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
