@charset "UTF-8";

.display{
	position: relative;
	background-image: url(../../image/battle/jewelcave/Standing-jc-monster.png);
	max-width: 1000px;
	height: 700px;
	margin: 0 auto;
	padding: 50px 150px;
	padding-top: 450px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.script-bag {
	position: absolute;
	background-color: rgb(231, 231, 231);
	width: 700px;
	height: 400px;
	top: 20px;
	left: 150px;
	border-radius:5px;
	border: 8px solid rgb(109, 109, 109);
	margin: 0 auto;
}
