@charset "UTF-8";

.display{
	position: relative;
	background-image: url(../../image/battle/tutorialMonster/battleStanding-basic.png);
	width: 1000px;
	height: 700px;
	margin: 0 auto;
	padding: 50px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}


.script-bag {
	position: absolute;
	background-color: rgb(231, 231, 231);
	width: 700px;
	height: 400px;
	top: 20px;
	left: 150px;
	border-radius:5px;
	border: 8px solid rgb(109, 109, 109);
	margin: 0 auto;
}
