@charset "UTF-8";

.display{
	/*position: relative;*/
	
	background-image: url(../image/map/intro.png);
	width: 1000px;
	height: 700px;
	margin: 0 auto;
	padding: 50px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
